# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# local files
*.sw[po]
**/build
cpp00/ex00/megaphone
cpp00/ex01/phonebook
cpp00/ex02/joyd
cpp00/ex02/compare.log
cpp01/ex00/zombies
cpp01/ex01/horde
cpp01/ex02/pointers
cpp01/ex03/violence
cpp01/ex04/looser
cpp01/ex04/*.replace*
cpp01/ex05/harl
cpp01/ex06/harlFilter
cpp02/ex00/ortodox
training/training
cpp02/ex01/displayFixed
cpp02/ex02/operFixed
cpp02/ex03/bsp
cpp03/ex00/clap
cpp03/ex02/frag
cpp03/ex03/diamond
cpp04/ex01/animals
cpp04/ex00/animals
cpp04/ex02/animals
cpp04/ex03/materials
cpp05/ex00/bureaucrat
cpp05/ex01/bureaucratForm
cpp05/ex02/bureaucratManyForms
cpp05/ex03/bureaucratIntern
cpp06/ex00/convert
cpp06/ex01/serialize
cpp06/ex03/dyncast
cpp07/ex00/template
cpp07/ex01/template
cpp07/ex02/template
cpp08/ex00/containers
